<app-ques-entry-form></app-ques-entry-form>


<hr/>
<hr/>

<h5>Added Questions</h5>

<div>
  <button><a Link="../ques-entry-form">+ADD QUESTIONS</a></button>
</div>
<br>
<div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Options</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button>EDIT</button></td>
            <td><button>DELETE</button></td>
          </tr>
        </tbody>
      </table>
</div> 
<!-- 
<div *ngIf="true">
  <app-ques-entry-form></app-ques-entry-form>
  </div> -->


 