<app-ques-entry-form></app-ques-entry-form>


<hr/>
<hr/>

<h5>Added Questions</h5>

<div>
  <button (click)="openModalDialog()"><span area-hidden="true"></span>+ADD QUESTIONS</button>
</div>
<br>
<div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Options</th>
            <th>Answers</th>
            <th>Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let qset of quesset">
            <td>{{qset.key}}</td>
            <td>{{qset.title}}</td>
            <td>{{qset.type}}</td>
            <td>{{qset.options}}</td>
            <td>{{qset.checkbox}}</td>
            <td><button>EDIT</button></td>
            <td><button>DELETE</button></td>
          </tr>
        </tbody>
      </table>
</div> 

<!-- 
<div *ngIf="true">
  <app-ques-entry-form></app-ques-entry-form>
  </div>  -->


 