
<div>
     <h3>Questions Form</h3>
    <form _form="NgForm" name="id" (ngSubmit)="OnSubmit(_form)" >
    <input type="text" name="id" hidden key="ngModel" [(ngModel)]="_form.id">
   
     <div class="form-group">
       <label>Question Title:</label>
       <input type="text.question" placeholder="Enter Question" name="title" [(ngModel)]="_form.title">
    </div>


    <div class="form-group " >
      <label class="form-label">Question Type:</label>
      <div class="col-8">
        <!-- <select class="custom-select" (onclick)="OnSubmit($event)" name="questype" [(ngModel)]="_form.questype" #questype="ngModel">
          <option value="default">Select Question Type</option>
          <option *ngFor="let type of Options">{{type}}</option>
        
        </select> -->
        <select (change)="OnClick($event.target.value)" placeholder="Select Options" name="QuesType" [(ngModel)]="_form.QuesType">
            <option value="default">Select Question Type</option>
            <option *ngFor="let type of QuesType" value= {{type.id}} >
            {{type.name}}
            </option>
            Select Options
        </select> 
      </div>
    </div>

    <div class="form-group"> 
          <div *ngFor="let key of _form.optionsArray,let i=index">
            <label>Options:</label>
            <input type="text.option1" placeholder="option" name="option1" [(ngModel)]="key.optText">
            <input type="checkbox" name="answer1" [(ngModel)]="key.isCorrect">
          </div> 
   </div>

    <input type="button" name="Add More" value="Add More" (click)="Add()">
    <input type ="button" name="Remove" value="Remove option" (click)="Remove()">
  

    <!-- <div class="form-group" >
          <div *ngIf="key==1" >
             <div>
                <label>Option1</label>
                <input type="text.option1" placeholder="option1" name="option1" [(ngModel)]="_form.option1">
                <input type="checkbox" name="option1" [(ngModel)]="_form.option1"> 
              </div>    
    </div> 
    </div>
    <div class="form-group">  
          <div *ngIf="key==3" name="blank" [(ngModel)]="_form.blank">
          </div>
    </div>   
   -->

      

    <div class="form-group">
        <input type="reset" id="reset-button" value="Reset"/>
        
        <input type="submit" id="submit-button" value="Save" />
     </div>
  </form>
</div>
