<div>
    <h3>Questions Form</h3>
    {{quesset}}
    <form _form="NgForm" name="id" (ngSubmit)="OnSubmit(_form,_form._id)">
    <input type="text" name="id" hidden key="ngModel" [(ngModel)]="_form.key">
     <div>
       <label>Question Title:</label>
       <input type="text" placeholder="Enter Question" name="title" [(ngModel)]="_form.title">
    </div>

    <div>
      <label>Question Type:</label>
        <select (change)=OnClick($event.target.value) placeholder="Select Options" name="type" [(ngModel)]="_form.type" >
            <option value="default">Select Question Type</option>
            <option *ngFor="let type of QuesType;let i=index" [value]="type.name">
            {{type.name}}
            </option>
        </select> 
    </div>

   <div *ngIf="SelectedOptions">
     <ol> 
          <li *ngFor="let key of _form.optionsArray">
             <input placeholder="options" [(ngModel)]="key.optText" [ngModelOptions]="{standalone: true}">   
            <input type="checkbox" name="isCorrect" [(ngModel)]="key.isCorrect"  [value]="key.optText" (change)="optionChecked(key.isCorrect,key.optText)">
            <button (click)="DeleteOptions(key.optText)">-</button>
          </li>
      </ol>
          <div>
            <input type="text" placeholder="option" name="optText" [(ngModel)]="options">
            <!-- <input type="checkbox" name="isCorrect" [(ngModel)]="answers"> -->
            
            <br/>
            <input type="button" name="Add More" value="Add option" (click)="AddOptions()">
          </div>

          <div class="form-group">
            <input type="reset" id="reset-button" value="Reset"/>
            <input type="submit" id="submit-button" value="Submit" />
         </div> 
   </div>
   <!-- <div *ngIf="AnotherSelectedOption||SelectedOptions" ></div>  -->
        
</form>

</div>

